<!doctype html>
<html>
  <head>
    <title>Sample Embedded Console Application Container</title>
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
    </style>
  </head>
  <body>
    <h1>Sample Embedded Console Application Container</h1>
    <div style="width: auto; height: auto; position: absolute; right: 40px; left: 40px; margin: 0; bottom: 40px; top: 40px;">
      <iframe src="./index.html" style="width: 100%; height: 100%; border: 1px dotted #bbb; position: relative;"></iframe>
    </div>
  </body>
</html>