<!doctype html>
<html>
  <head>
    <title>Sample Embedded Console Application</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="./css/sample.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Sample Embedded Console Application</h1>
    <div id="tabs">
      <ul></ul>
    </div>
    <script src="https://www.vivocha.com/a/[accountid]/js/vivocha_ec.js"></script>
    <script src="./js/sample.js"></script>
  </body>
</html>
